## Phase 1

In [1]:
# Madeline
print("Hello Iris!")

Hello Iris!

In [1]:
#Mashfika 
print("Hello Iris!")

Hello Iris!

In [1]:
# Yisihaq
print("Hello Iris!")

Hello Iris!

## Phase 2

In [3]:
# Variables of iris dataset
n_rows = 150
n_columns = 5

In [3]:
# Control structure: checking the petal length using if/else statements
petal_length = 1.4

if petal_length > 1.5:
    print("Large petal")
else:
    print("Small petal")

Small petal

In [5]:
# Iterating through a list of species using loops
species = ["Sertosa", "Versicolor", "Virginica"]
for flower in species:
    print("Species:", flower)

Species: Sertosa
Species: Versicolor
Species: Virginica

In [2]:
# Using function to return samll, medium, and large for petal and sepal length
def classify_flower(sepal_length, petal_length):
    if petal_length < 2 or sepal_length <2: 
        return "small"
    elif petal_length <5 or sepal_length < 5:
        return "medium" 
    else: 
        return "large" 
example = classify_flower(3,2)
print(example)

medium

Phase 3

In [3]:
# dataset
import statistics
import pandas as pd

df = pd.read_csv("iris.data", delimiter=",")
df.head()

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa